.parent{
    width: 1000px;
    background-color: aqua;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.children{    
    width: 300px;
    height: 300px;
    background-color: plum;
    color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
/*.child1{
    order: 1;
    align-self: flex-end;
}
.child2{
    order: 2;
    align-self: center;
}
.child3{
    order: 3;
    align-self: flex-start;
}*/